body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1f1f24;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #0f0f10;
}
h1 {
  font-size: 3rem;
  color: #efeff1;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input {
  max-width: 400px;
  width: 100%;
  height: 25px;
  border-radius: 12px 0 0 12px;
  outline: none;
  font-size: 1.5rem;
  color: #6441a5;
  border: 2px solid #6441a5;
  padding: 6px;
}
button {
  color: #efeff1;
  background-color: #6441a5;
  outline: none;
  border: none;
  width: 150px;
  height: 41px;
  font-size: 1rem;
  border-radius: 0 12px 12px 0;
}
button:hover {
  background-color: #442c72;
  border-radius: 0 12px 12px 0;
}
form h3 {
  color: #6441a5;
  margin-right: 2rem;
  font-size: 2rem;
}
.connected-to {
  font-size: 2rem;
  color: #a970ff;
  float: right;
  width: fit-content;
  padding: 1rem 0;
}
/* Preview Pane */
.pane-container {
  width: 100vw;
  height: 100%;
}
.preview_pane {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%;
}
/* Latest */
.latest {
  height: 100%;
  width: 100%;
  position: relative;
}
.latest-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.latest-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 2.5rem;
  background: #00000080;
}
/* Pane Group */
.pane-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.pane-group .pane {
  background-color: #0f0f10;
  width: 100%;
  height: 100%;
  position: relative;
}
.pane-group .pane a .pane-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pane-group .pane .pane-title {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  background: #00000080;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
}
.pane-title:hover {
  overflow: visible;
}

/* .collapsable {
  text-align: center;
  font-size: 1.5rem;
  color: #a970ff;
} */
