html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1f1f24;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #0f0f10;
}
h1 {
  font-size: 3rem;
  color: #efeff1;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input {
  max-width: 400px;
  width: 100%;
  height: 25px;
  border-radius: 12px 0 0 12px;
  outline: none;
  font-size: 1.5rem;
  color: #6441a5;
  border: 2px solid #6441a5;
  padding: 6px;
}
button {
  color: #efeff1;
  background-color: #6441a5;
  outline: none;
  border: none;
  width: 150px;
  height: 41px;
  font-size: 1rem;
  border-radius: 0 12px 12px 0;
}
button:hover {
  background-color: #442c72;
  border-radius: 0 12px 12px 0;
}
form h3 {
  color: #6441a5;
  margin-right: 2rem;
  font-size: 2rem;
}

/* Preview Pane */
.preview_pane {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: auto 15% 15% 15%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pane-latest pane pane2 pane3"
    "pane-latest pane4 pane5 pane6";
}
.connected-to {
  font-size: 2.5rem;
  color: #a970ff;
  float: right;
  width: fit-content;
}
.pane-latest {
  grid-area: pane-latest;
  position: relative;
}
.pane:nth-of-type(1) {
  grid-area: pane;
}
.pane:nth-of-type(2) {
  grid-area: pane2;
}
.pane:nth-of-type(3) {
  grid-area: pane3;
}
.pane:nth-of-type(4) {
  grid-area: pane4;
}
.pane:nth-of-type(5) {
  grid-area: pane5;
}
.pane:nth-of-type(6) {
  grid-area: pane6;
}
.pane {
  grid-area: pane;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f0f10;
  width: 100%;
  height: 100%;
  border: 2px solid #442c72;
}
.pane a {
  width: 100%;
  min-width: 100%;
  min-height: 150px;
  height: 100%;
  cursor: pointer;
}
.pane-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.pane-info {
  height: 20%;
  background: red;
}
.pane-info-latest {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  background: red;
  width: 100%;
}
.pane-title {
  font-size: 1.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pane-title:hover {
  overflow: visible;
}
.pane-info-latest .pane-title {
  font-size: 2.5rem;
}
.collapsable {
  text-align: center;
  font-size: 1.5rem;
  color: #a970ff;
}
